.nav-links {
    display: flex;
    justify-content: space-evenly;
}
.navbar {
    display: flex;
    height: 70px;
    justify-content: space-around;
}
.navbar * {
    align-self: center;
}

.nav-links {
    width: 70%;
}
.brand {
    font-size: 27px;
}
.nav-link {
    /* transition: all 1s ease 1s; */
    transition: font-size 0.2s;
}
.nav-link:hover {
    font-size: 21px;
}
